.SearchBox {
  padding: 0;
  margin: 0;
  height: 60px;
}

.SearchBox__form {
  padding: 10px;
  background-color: #fbfbfb;
}

.SearchBox__form__input,
.SearchBox__form__input:focus {
  border-color: #ccc;
  box-shadow: none;
}

.SearchBox__form__search_icon {
  color: #93918f;
}
