.Chat {
  padding: 0 !important;
  margin: 0 !important;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  height: calc(100% - 120px);
}

@media screen and (max-width: 700px) {
  .Chat {
    height: calc(100% - 140px);
  }
}
