.SideBarHeading__avatar {
  padding: 0;
}

.SideBarHeading__avatar__icon img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.SideBarHeading__menu,
.SideBarHeading__conversations {
  padding-right: 0;
  padding-left: 0;
  text-align: right;
  line-height: 35px;
  color: #93918f;
}

.SideBarHeading__conversations__icon {
  cursor: pointer;
}
