.Heading {
  padding: 10px 16px 10px 15px;
  margin: 0;
  height: 60px;
  width: 100%;
  background-color: #eee;
  z-index: 1000;
}

@media screen and (max-width: 700px) {
  .Heading {
    height: 70px;
    background-color: #009688;
  }
}
