.ReplyBar {
  background-color: #f5f1ee;
  margin: 0;
  padding-top: 15px;
}

.ReplyBar__emojis,
.ReplyBar__recording,
.ReplyBar__send {
  font-size: 20px;
  text-align: center;
  color: #93918f;

}

.ReplyBar__form {
  padding: 0;
}

.ReplyBar__form__input,
.ReplyBar__form__input:focus {
  border-color: #ccc;
  box-shadow: none;
}
