.Message {
  margin: 0;
  height: auto;
}

.Message--sender {
  text-align: right;
}

.Message__wrapper__body {
  width: auto;
  max-width: 40%;
  padding: 4px 10px 7px;
  display: inline-block;
}

.Message--sender .Message__wrapper__body {
  text-align: left;
  border-radius: 10px 10px 0 10px;
  background: #dcf8c6;
}

.Message--receiver .Message__wrapper__body {
  border-radius: 10px 10px 10px 0;
  background: #ffffff;
}

.Message__wrapper__body__text {
  word-wrap: break-word;
}

.Message__wrapper__body__sentAt {
  word-wrap: break-word;
  margin: 10px 0 0 0;
  text-align: right;
  color: #9a9a9a;
}
