.Message {
  margin: 0 !important;
  padding: 0 !important;
  width: auto;
  height: auto;
}

.Message--receiver .Message__wrapper {
  max-width: 60%;
}

.Message--sender .Message__wrapper {
  padding: 3px 20px !important;
  margin-left: 40% !important;
  max-width: 60%;
}

.Message__wrapper__body__text {
  margin: 0 !important;
  padding: 5px !important;
  word-wrap:break-word;
  font-weight: 200;
  font-size: 14px;
  padding-bottom: 0 !important;
}

.Message__wrapper__body__sentAt {
  margin: 0 !important;
  margin-left: 50px !important;
  font-size: 12px;
  text-align: right;
  color: #9a9a9a;
}

.Message--receiver .Message__wrapper__body {
  width: auto !important;
  padding: 4px 10px 7px !important;
  border-radius: 10px 10px 10px 0;
  background: #ffffff;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  word-wrap: break-word;
  display: inline-block;
}

.Message--sender .Message__wrapper__body {
  width: auto !important;
  background: #dcf8c6;
  border-radius: 10px 10px 0 10px;
  padding: 4px 10px 7px !important;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  display: inline-block;
  word-wrap: break-word;
}
