.SideBar {
  padding: 0;
  margin: 0;
  height: 100%;
}

.SideBar__first {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  display: block;
  top: 0;
}
  
.SideBar__second {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  position: relative;
  top: -100%;
  left: -100%;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}




  
  .heading {
  padding: 10px 16px 10px 15px;
  margin: 0;
  height: 60px;
  width: 100%;
  background-color: #eee;
  z-index: 1000;
  }
  
  .heading-avatar {
  padding: 0;
  cursor: pointer;
  
  }
  
  .heading-avatar-icon img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  }
  
  .heading-name {
  padding: 0 !important;
  cursor: pointer;
  }
  
  .heading-name-meta {
  font-weight: 700;
  font-size: 100%;
  padding: 5px;
  padding-bottom: 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
  display: block;
  }
  .heading-online {
  display: none;
  padding: 0 5px;
  font-size: 12px;
  color: #93918f;
  }
  .heading-compose {
  padding: 0;
  }
  
  .heading-compose i {
  text-align: center;
  padding: 5px;
  color: #93918f;
  cursor: pointer;
  }
  
  .heading-dot {
  padding: 0;
  margin-left: 10px;
  }
  
  .heading-dot i {
  text-align: right;
  padding: 5px;
  color: #93918f;
  cursor: pointer;
  }
  
  .searchBox {
  padding: 0 !important;
  margin: 0 !important;
  height: 60px;
  width: 100%;
  }
  
  .searchBox-inner {
  height: 100%;
  width: 100%;
  padding: 10px !important;
  background-color: #fbfbfb;
  }
  
  
  /*#searchBox-inner input {
  box-shadow: none;
  }*/
  
  .searchBox-inner input:focus {
  outline: none;
  border: none;
  box-shadow: none;
  }
  
  .sideBar {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #fff;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  height: calc(100% - 120px);
  }
  
  .sideBar-body {
  position: relative;
  padding: 10px !important;
  border-bottom: 1px solid #f7f7f7;
  height: 72px;
  margin: 0 !important;
  cursor: pointer;
  }
  
  .sideBar-body:hover {
  background-color: #f2f2f2;
  }
  
  .sideBar-avatar {
  text-align: center;
  padding: 0 !important;
  }
  
  .avatar-icon img {
  border-radius: 50%;
  height: 49px;
  width: 49px;
  }
  
  .sideBar-main {
  padding: 0 !important;
  }
  
  .sideBar-main .row {
  padding: 0 !important;
  margin: 0 !important;
  }
  
  .sideBar-name {
  padding: 10px !important;
  }
  
  .name-meta {
  font-size: 100%;
  padding: 1% !important;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
  }
  
  .sideBar-time {
  padding: 10px !important;
  }
  
  .time-meta {
  text-align: right;
  font-size: 12px;
  padding: 1% !important;
  color: rgba(0, 0, 0, .4);
  vertical-align: baseline;
  }


@media screen and (max-width: 700px) {
    .heading {
        height: 70px;
        background-color: #009688;
      }
      .heading-avatar {
        padding: 0 !important;
      }
      .heading-avatar-icon img {
        height: 50px;
        width: 50px;
      }
      .heading-compose {
        padding: 5px !important;
      }
      .heading-compose i {
        color: #fff;
        cursor: pointer;
      }
      .heading-dot {
        padding: 5px !important;
        margin-left: 10px !important;
      }
      .heading-dot i {
        color: #fff;
        cursor: pointer;
      }
      .sideBar {
        height: calc(100% - 130px);
      }
      .sideBar-body {
        height: 80px;
      }
      .sideBar-avatar {
        text-align: left;
        padding: 0 8px !important;
      }
      .avatar-icon img {
        height: 55px;
        width: 55px;
      }
      .sideBar-main {
        padding: 0 !important;
      }
      .sideBar-main .row {
        padding: 0 !important;
        margin: 0 !important;
      }
      .sideBar-name {
        padding: 10px 5px !important;
      }
      .name-meta {
        font-size: 16px;
        padding: 5% !important;
      }
      .sideBar-time {
        padding: 10px !important;
      }
      .time-meta {
        text-align: right;
        font-size: 14px;
        padding: 4% !important;
        color: rgba(0, 0, 0, .4);
        vertical-align: baseline;
      }
}