.OverlapHeading {
  margin: 0;
  height: 60px;
  background-color: #00bfa5;
  color: #fff;
}

.OverlapHeading__heading__title,
.OverlapHeading__heading__backButton {
  line-height: 60px;
}

.OverlapHeading__heading__backButton {
  padding-right: 0;
  text-align: left;
  cursor: pointer;
}
